name: Unit tests

defaults:
  run:
    shell: bash -le {0}

on:
  push:
  repository_dispatch:
  workflow_dispatch:

env:
  CUDA_DEVICE_ORDER: PCI_BUS_ID

concurrency:
  group: ${{ github.ref }}-workflow-unit-tests
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, macos-13, windows-latest ] # macos-latest arm64, macos-13 intel
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: 'pip'

      - name: install
        run: pip install .

      - name: test os
        run: python tests/os.py

      - name: test cpu
        if: always()
        run: python tests/cpu.py

  freebsd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: clean dir
        run: rm -rf .git

      - name: Test in FreeBSD
        uses: vmactions/freebsd-vm@v1
        with:
          copyback: false
          prepare: |
            env ASSUME_ALWAYS_YES=yes pkg install -y python py311-pip
          run: |
            python -V
            python -m venv venv
            . venv/bin/activate
            pip install .
            python tests/os.py

  solaris:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: clean dir
        run: rm -rf .git

      - name: Test in Solaris
        uses: vmactions/solaris-vm@v1
        with:
          copyback: false
          run: |
            python -V
            python -m venv venv
            source venv/bin/activate
            pip install .
            python tests/os.py

  wsl:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: Vampire/setup-wsl@v4
        with:
          distribution: Ubuntu-24.04
          additional-packages:
            python3-pip
            python3-venv

      - name: test os
        shell: wsl-bash -u root {0}
        run: |
            python3 -m venv venv
            source venv/bin/activate
            pip install .
            python tests/os.py

  gpu:
    runs-on: [self-hosted, Linux]
    container:
      image: 10.0.14.248:5000/modelcloud/gptqmodel:compiler_cuda126-torch2.6.0-python313
    steps:
      - uses: actions/checkout@v4

      - name: install pciutils
        run: apt update && apt install -y pciutils

      - name: install
        run: pip install .

      - name: test os
        run: python tests/os.py

      - name: Find suitable GPU
        run: |
          gpu_id=$(curl -s "http://10.0.14.248/gpu/get?id=${{ github.run_id }}&timestamp=$(date +%s%3N)&force=1")
          echo "CUDA_VISIBLE_DEVICES=$gpu_id" >> $GITHUB_ENV

      - name: test cpu
        run: python tests/cpu.py

      - name: test gpu
        if: always() && !cancelled()
        run: python tests/gpu.py

  rocm:
    runs-on: [self-hosted, rocm]
    container:
      image: 10.0.14.248:5000/modelcloud/gptqmodel:github-ci-v6-rocm
      options: --device /dev/dri --device /dev/kfd --ipc=host
    steps:
      - uses: actions/checkout@v4

      - name: install
        run: pip install .

      - name: test os
        run: python tests/os.py

      - name: test cpu
        run: python tests/cpu.py

      - name: test gpu
        if: always() && !cancelled()
        run: python tests/gpu.py

  m4:
    runs-on:  [self-hosted, m4]
    steps:
      - uses: actions/checkout@v4

      - name: Run test
        run: |
          export PATH="/opt/homebrew/bin:$PATH" && eval "$(pyenv init -)"
          pyenv global 3.11.11 && python -m venv venv
          source venv/bin/activate

          pip install wheel
          
          echo "=== installing device-smi"
          pip install . --no-build-isolation
          
          echo "=== running cpu test"
          python tests/cpu.py
          
          echo "=== running gpu test"
          python tests/gpu.py
