name: Unit tests

defaults:
  run:
    shell: bash -le {0}

on:
  push:
  repository_dispatch:
  workflow_dispatch:

env:
  CUDA_DEVICE_ORDER: PCI_BUS_ID

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, macos-13, windows-latest ] # macos-latest arm64, macos-13 intel
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: 'pip'

      - name: install
        run: pip install .

      - name: test os
        run: python tests/os.py

      - name: test cpu
        if: always()
        run: python tests/cpu.py

  freebsd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Test in FreeBSD
        uses: vmactions/freebsd-vm@v1
        with:
          prepare: |
            env ASSUME_ALWAYS_YES=yes pkg install -y python py311-pip
          run: |
            python -V
            python -m venv venv
            . venv/bin/activate
            pip install .
            python tests/os.py

  solaris:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Test in Solaris
        uses: vmactions/solaris-vm@v1
        with:
          run: |
            python -V
            python -m venv venv
            source venv/bin/activate
            pip install .
            python tests/os.py

  wsl:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: Vampire/setup-wsl@v4
      - run: |
          npm ci
          npm run build
          npm run package

  gpu:
    runs-on: self-hosted
    container:
      image: 10.0.14.248:5000/modelcloud/gptqmodel:compiler_cuda124-torch2.5.1-python311
    steps:
      - uses: actions/checkout@v4

      - name: install
        run: pip install .

      - name: test os
        run: python tests/os.py

      - name: Find suitable GPU
        run: |
          gpu_id=$(curl -s "http://10.0.14.248/gpu/get?id=${{ github.run_id }}&timestamp=$(date +%s%3N)&force=1")
          echo "CUDA_VISIBLE_DEVICES=$gpu_id" >> $GITHUB_ENV

      - name: test gpu
        if: always()
        run: python tests/cpu.py